# Prepare colab workspace

In [6]:
# mount google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
# set current working directory to folder with the data
folder_name = "roof-angle-predictor"
%mkdir -p /content/drive/MyDrive/{folder_name}
%cd /content/drive/MyDrive/{folder_name}

/content/drive/MyDrive/roof-angle-predictor

# Explorative analysis

In [ ]:
import pandas as pd
import matplotlib

In [10]:
df = pd.read_csv("hamburg_data_clean.csv")
df

,gmlid,zipCode,city,street,houseNumber,buildingFootprintArea,storeysEstimated,grossFloorSpace,buildingFunction,roofType,...,ad_RegionalisedTotalMaxWert14,ad_ActualTotalMinWert14Euro,ad_ActualTotalMaxWert14Euro,ad_RegionalisedTotalMinWert14Euro,ad_RegionalisedTotalMaxWert14Euro,convertedAttic,dormerCount,buildingAge,mainBuilding,classifiedBuilding
0,DEHHALKAn0000uVm,21039,Hamburg,Curslacker Heerweg,1,94.383,0,283.15,Wohnhaus,NaN,...,0,0,0,0,0,0,0,NaN,True,NaN
1,DEHHALKAn0000uW4,21039,Hamburg,Curslacker Heerweg,1,6.831,0,0.00,Gebäude zur Versorgung,NaN,...,0,0,0,0,0,0,0,NaN,False,NaN
2,DEHHALKAn0000v1F,21039,Hamburg,Curslacker Heerweg,10,65.274,0,130.55,Wohnhaus,NaN,...,0,0,0,0,0,0,0,NaN,True,NaN
3,DEHHALKAn0000v20,21039,Hamburg,Curslacker Heerweg,10,65.209,0,130.42,Wohnhaus,NaN,...,0,0,0,0,0,1,2,NaN,True,NaN
4,DEHHALKAn0000vaC,21039,Hamburg,Curslacker Heerweg,104,57.358,0,0.00,Gebäude zum Parken,NaN,...,0,0,0,0,0,0,0,NaN,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30851,DEHHALKAP0001IFp,22547,Hamburg,Elbgaustraße,222a,50.246,0,0.00,Gebäude zum Parken,NaN,...,0,0,0,0,0,0,0,NaN,False,NaN
30852,DEHHALKAV0000VE0,22523,Hamburg,Astweg,33,1330.943,0,5323.77,Wohnhaus,NaN,...,0,0,0,0,0,0,0,NaN,True,NaN
30853,DEHHALKAV0000WO8,22523,Hamburg,Niekampsweg,22b,214.427,3,213.82,Wohnhaus,NaN,...,0,0,0,0,0,0,0,1981 to 2000,True,NaN
30854,DEHHALKAV0000Xt8,22523,Hamburg,Wildacker,24,798.478,4,798.49,Wohnhaus,NaN,...,0,0,0,0,0,0,0,1961 to 1980,True,NaN
30855,DEHHALKAV0000YFw,22523,Hamburg,Reemstückenkamp,28c,519.077,4,519.08,Wohnhaus,NaN,...,0,0,0,0,0,0,0,1961 to 1980,True,NaN